<div class="practice-container">
    <div class="card text-center event-details-card">
        <div class="card-header">
            Date: {{date}}, {{time}}
        </div>
        <div class="card-body">
            <h2 class="card-title event-details-title">{{title}}</h2>
            <h6 class="card-text">{{location}}</h6>
            <p>Price: £{{price}}</p>
            <p>Required no. of players: {{numberOfRequiredPlayers}}</p>


            {{#if isBooked}}
            <h3>Booked &#9989;</h3>
            <form action="/events/{{_id}}/cancel" method="post">
                <button type="submit" class="btn btn-danger button-event-details">Cancel booking</button>
            </form>
            {{else}}

            <form action="/events/{{this._id}}/book" method="POST">

                <button type="submit" name="players" id="book-button"
                    class="btn btn-success button-event-details">Book</button>
            </form>
            {{/if}}

            {{#if isCreator}}

            <form action="/events/{{_id}}/edit" method="GET">
                <button type="submit" class="btn btn-secondary button-event-details">Edit event</button>
            </form>
            <form action="/events/{{_id}}/delete" method="POST">
                <button type="submit" class="btn btn-warning button-event-details">Delete event</button>
            </form>
            {{/if}}




        </div>
        <div class="card-footer text-muted event-details-players">
            <h6 style="text-decoration:underline ;">Current players</h6>

            <div class="current-players-image">
                {{#each players}}

                <img src="{{this.profileImage}}" alt="{{this.username}}" title="{{this.username}}">
                {{/each}}

            </div>

        </div>
    </div>
</div>