<h1>Event details page</h1>


<div>
    <h1>{{typeOfSport}}</h1>
    <h2>{{title}}</h2>
    <h3>Creator of event: {{author.username}}</h3>
    <p>Location: {{location}}</p>
    <p>Price: £{{price}}</p>
    <p>Required no. of players: {{numberOfRequiredPlayers}}</p>
    <p>Date: {{date}}</p>
    <p>Time: {{time}}</p>
    <div>
        <h3>Current players</h3>
        {{#each players}}
        <p>{{this.username}}</p>
        {{/each}}
    </div>
    {{#if isBooked}}
    <h3>you are booked &#9989;</h3>
    {{else}}

    <form action="/events/{{this._id}}/book" method="POST">

        <button type="submit" name="players" id="book-button">Book</button>
    </form>
    {{/if}}

    <a href="/events/{{this._id}}/event-edit">Edit</a>
    <form action="/events/{{_id}}/event-delete" method="POST">
        <button type="submit">Delete</button>
    </form>

</div>