<h1>Event details page</h1>


<div>
    <h1>{{typeOfSport}}</h1>
    <h2>{{title}}</h2>
    <h3>{{author.username}}</h3>
    <p>{{location}}</p>
    <p>{{price}}</p>
    <p>{{numberOfRequiredPlayers}}</p>
    <p>{{date}}</p>
    {{#each players}}
    <p>{{this.username}}</p>
    {{/each}}

    <form action="/events/{{this._id}}" method="POST">

        <button type="submit" name="players" id="book-button">Book</button>
    </form>


</div>