<h1>Hello World</h1>

<a href="/events/create-event">create event</a>

{{!-- filter form --}}
<form action="/events/search" method="GET">

    <select name="typeOfSport">
        <option value="" disabled selected>Search for sport</option>
        <option value="football">football</option>
        <option value="basketball">basketball</option>
        <option value="tennis">tennis</option>
    </select>

    <input type="text" name="location" placeholder="location">
    <input type="number" id="event-price" name="price" min="0" placeholder="price">
    <input type="submit" value="search">
</form>

{{#each data}}
<div>
    <h1>{{this.typeOfSport}}</h1>
    <h2>{{this.title}}</h2>
    <h3>{{this.author.username}}</h3>
    <p>{{this.location}}</p>
    <p>{{this.price}}</p>
    <p>{{this.numberOfRequiredPlayers}}</p>
    <a href="/events/{{this._id}}"> Show Details</a>

</div>

{{/each}}