<h1>Event details page</h1>

{{#each data}}
<div>
    <h1>{{this.typeOfSport}}</h1>
    <h2>{{this.title}}</h2>
    <h3>{{this.author.username}}</h3>
    <p>{{this.location}}</p>
    <p>{{this.price}}</p>
    <p>{{this.numberOfRequiredPlayers}}</p>
    <p>{{this.date}}</p>
    <a href="/events/{{this._id}}"></a>

</div>

{{/each}}