<img src={{session.profileImage}} alt="">
<p>{{session.username}}</p>

<div>
    <h1>Pending bookings</h1>

    {{#each this.pendingEvents}}
    <div>
        <h1>{{this.typeOfSport}}</h1>
        <h2>{{this.title}}</h2>
        <p>{{this.location}}</p>
        <p>{{this.price}}</p>
        <p>{{date}}</p>
        <a href="/events/{{this._id}}">Show details</a>
    </div>
    {{/each}}


</div>

<div>
    <h1>Confirmed bookings</h1>
    {{#each this.confirmedEvents}}
    <div>
        <h1>{{this.typeOfSport}}</h1>
        <h2>{{this.title}}</h2>
        <p>{{this.location}}</p>
        <p>{{this.price}}</p>
        <p>{{date}}</p>
        <a href="/events/{{this._id}}">Show details</a>
    </div>
    {{/each}}

</div>