<div class="profile-container">
    <div class="profile-info">
        <img src="{{session.profileImage}}" alt="">
        <h5>{{session.username}}</h5>
    </div>
    <div class="profile-bookings">
        <div class="profile-pending">
            <h3>Pending Bookings</h3>

            <div class="flip-card-container">

                {{#each this.pendingEvents}}
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>{{this.title}}</p>
                            <p>{{this.daysLeft}} days away</p>
                        </div>
                        <div class="flip-card-back">
                            <a href="/events/{{this._id}}">Show details</a>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>

        </div>
        <div class="profile-confirmed">
            <h3>Confirmed Bookings</h3>
            <div class="flip-card-container">

                {{#each this.confirmedEvents}}
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>{{this.title}}</p>
                            <p>{{this.daysLeft}} days away</p>
                        </div>
                        <div class="flip-card-back">
                            <a href="/events/{{this._id}}">Show details</a>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>